.container{
    width: 24%;
    transform: translate(-70px,90px);
    border: 2px solid black;
}
.position{
	padding: 130px 500px 50px 200px;
	height:100%;
	margin-bottom: 0px;
	margin-top:-80px;
	margin-left: -50px;
	margin-right: -30px;
}
.new{
	margin-top: 24px;
	 width: 260px;
}
.new:hover{
	background-color:black;
}
.margin{
    width: 260px;
}
span{
    font-weight: 10px;
    font-size: 20px; 
    text-transform: uppercase;
}
b{
	font-size: 50px;
}
.h3{
	border: none;
	margin-bottom: -15px;
	width: 350px;
	margin-left: 120px;
	height: 90px;
	transform:translate(-120px,0px);
}
.rel{
	transform:translate(-140px,-30px);
}
input{
	margin-bottom: -8px;
}
.register{
	margin-top: -140px;
	margin-left: 720px;
}